html, body {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.user-icon {
    font-size: 30px;
    color: #000000; 
    cursor: pointer;
    transition: all 0.3s ease;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.user-icon:hover {
    color: #C0C0C0; /* xanh đậm hơn khi hover */
    transform: scale(1.15);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-btn i {
    margin-right: 5px;
}